body {
    background: linear-gradient(to bottom, #bca3e6, #a3b8e6)
}
h1 {
    text-align:center;
    font-family: 'Pacifico', cursive;
}
h2 {
    font-family: 'Pacifico', cursive;
}
ol {
    font-family: 'Pacifico', cursive;
}
b {
    font-family: 'Pacifico', cursive;
}
p {
    font-family: 'Pacifico', cursive;
}