body {
    background: linear linear-gradient(to bottom, #BCA3E6, #A3B8E6);
}
h1 {
    text-align:center;
    font-family: 'Pacifico', cursive;
}
h2 {
    text-align:center;
    font-family: 'Pacifico', cursive;
}
ol {
    text-align:center;
    font-family: 'Pacifico', cursive;
}
b {
    text-align:center;
    font-family: 'Pacifico', cursive;
}
p {
    text-align:center;
    font-family: 'Pacifico', cursive;
}